*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/* header start */
.header{
    width: 100%;
    padding: 0px 0px 90px 0px;
    background: url("../images/banner-bg.png") center top no-repeat;
    background-size: cover;
    overflow: hidden;
}
.header .navbar-brand img{
    width: 65px;
    margin-left: 40px;
}
.header .nav-item{
    margin-right: 18px;
}
.header .nav-link{
    letter-spacing: 1.5px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: #7c6e60;
    margin-right: 30px;
}
.header .nav-link:hover{
    color: #deb37e;
}
.header .nav-item .active{
    color: #deb37e;
}
.header .banner-details{
    width: 100%;
    padding: 120px 0px 35px 130px;
    margin: 80px 0px 150px 70px;
}
.header .banner-details h1{
    font-size: 70px;
    line-height: 73px;
    font-weight: 700;
    color: #deb37e;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 15px;
}
.header .banner-details h5{
    margin-left: 40px;
    font-size: 22px;
    margin-bottom: 50px;
    letter-spacing: 0.5px;
    color: #bfb9b6;
    font-family: 'Open Sans';
    font-style: italic;
}
.header .banner-details .btn-info{
    background: #fff;
    margin-left: 40px;
    color: #97918e;
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
    border: 1px solid#fff;
    border-radius: 29px;
    padding: 6px 25px;
    margin-bottom: 15px;
    margin-top: 30px;
}
.header .banner-details .btn-info:hover{
    color: #deb37e;
    border: 1px solid #deb37e;
    background: #4a27fb;
}
.header .banner-details p{
    margin-left: 40px;
    font-size: 16px;
    font-family: 'Open Sans';
    font-style: italic;
    color: #837d75;
}
/* header end */

/* feature start */
.feature{
    width: 100%;
    padding: 20px 0px 80px 0px;
    background: #fff;
}
.feature .feature-heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.feature .feature-heading h2{
    font-size: 50px;
    line-height: 55px;
    font-weight: 800;
    color: #deb37e;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.feature .feature-heading p{
    font-size: 18px;
    line-height: 25px;
    font-family: 'Open Sans';
    color: #837d75;
}
.feature .feature-card{
    background: #7f7770;
    width: 97%;
}
.feature .feature-card img{
    width: 100%;
}
.feature .feature-card .inner-cad{
    padding: 40px 0px;
    text-align: center;
}
.feature .feature-card .inner-cad h4{
    font-size: 25px;
    line-height: 25px;
    font-family: 'Open Sans';
    color: #fff;
}
.feature .feature-card .inner-cad p{
    font-size: 16px;
    line-height: 25px;
    font-family: 'Open Sans';
    color: #fff;
}
.feature .feature-button{
    text-align: center;
}
.feature .feature-button .btn-info{
    background: #7f7770;
    margin-left: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    border: 1px solid#7f7770;
    border-radius: 30px;
    padding: 13px 45px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    margin-top: 40px;
}

.feature .feature-button .btn-info:hover{
    color: #deb37e;
    border: 1px solid #fff;
    background: #4a27fb;
}
/* feature end */
/* discount start */
.discount{

}
.discount .dis-img img{
}
.discount .discount-details{
    background: #bfb9b6;
    padding: 20px 50px 92px 25px;
    margin-left: -24px;
}
.discount .discount-details h3{
    font-size: 40px;
    line-height: 55px;
    font-weight: 800;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 45px;
}

.discount .discount-details p{
    font-size: 17px;
    line-height: 25px;
    color: #000;
    margin-bottom: 68px;
}
.discount .discount-details .btn-info{
    background: #7f7770;
    margin-left: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    border: 1px solid#7f7770;
    border-radius: 30px;
    padding: 13px 45px;
    letter-spacing: 2px;
}
.discount .discount-details .btn-info:hover{
    color: #deb37e;
    border: 1px solid #fff;
    background: #4a27fb;
}

/* discount end */
/* promo start */
.promo{

}
.promo .dis-img img{
}
.promo .discount-details{
    background: #deb37e;
    padding: 20px 50px 92px 25px;
    margin-right: -24px;
}
.promo .discount-details h3{
    font-size: 40px;
    line-height: 55px;
    font-weight: 800;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 45px;
}

.promo .discount-details p{
    font-size: 17px;
    line-height: 25px;
    color: #000;
    margin-bottom: 68px;
    
}
.promo .discount-details .btn-info{
    background: #7f7770;
    margin-left: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    border: 1px solid#7f7770;
    border-radius: 30px;
    padding: 13px 45px;
    letter-spacing: 2px;
}
.promo .discount-details .btn-info:hover{
    color: #deb37e;
    border: 1px solid #fff;
    background: #4a27fb;
}
/* promo end */